body,p {
    margin: 0;
}

section .title {
    background: rgb(57, 129, 189);
    position: sticky;
    top: 0;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    font-weight: bold;
}